@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#nav-container {
  width: auto;
  padding:0px;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  margin: 0px;
}

#nav-styles {
  background-color: white;
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: 16px;
  padding-top: 40px;
  align-items: center;
}

.nowrap {
  white-space: nowrap ;
}

.icons {
  width: 64px;
}

.nav-items {
  color: var(--Text2, #000);
  text-align: center;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav-items:active {
  text-decoration: underline;
}

.search-box {
  width: 243px;
  margin-right: 24px;
}


#filled-adornment-weight {
  width: 211px;
  height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#filled-adornment-weight:active {
  outline: none;
}

#Exclusive-text {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.72px;
  margin-right: 0px;
}

#Exclusive-text-s {
  color: var(--Text2, #000);
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.72px;
}

@media screen and (max-width: 899px) {
  #nav-styles {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-top: 40px;
  }
  .icons {
    display: flex;
    width: 72px;
  }
  .icons>button {
    padding: 0px;
  }

  
  .search-box {
    display: none;
  }
}