@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#nav-container {
  width: 100%;
  padding:0px;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
  margin: 0px;
}

#nav-styles {
  background-color: white;
  padding-left: 135px;
  padding-right: 135px;
  padding-bottom: 16px;
  padding-top: 40px;
  align-items: center;
  box-shadow: none;
  border-bottom: 1px solid black;
}

.signup-box {
  display: flex;
  margin-top: 60px;
  margin-bottom: 140px;
}

.form-box {
  margin: auto;
}

.sign-image {
  width: 50%;
}

.nowrap {
  white-space: nowrap ;
}

.icons {
  width: 64px;
}

.nav-items {
  color: var(--Text2, #000);
  text-align: center;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav-items:active {
  text-decoration: underline;
}

.search-box {
  width: 243px;
  margin-right: 24px;
}

.right-item {
  display: flex;
  align-items: center;
}


#filled-adornment-weight {
  width: 211px;
  height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#filled-adornment-weight:active {
  outline: none;
}

#Exclusive-text {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.72px;
  margin-right: 0px;
}

#Exclusive-text-s {
  color: var(--Text2, #000);
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; 
  letter-spacing: 0.72px;
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  color: var(--Text2, #000);
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.44px;
  margin-bottom: 16px;
}

.form-subheading {
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.form-btn-submit {
  display: flex;
  padding: 16px 122px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  color: white;
  border-color: #DB4444;
  border-style: none;

  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.form-content {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  
  padding-bottom: 8px;
  height: 24px;
}

.form-content::placeholder {
  color: var(--Text2, #000);

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  opacity: 0.4;
}

.Google-sign-btn {
  display: flex;
  padding: 0px 86px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  background-color: white;
  margin-top: 16px;
}

.google-btn-text {
  color: var(--Text2, #000);

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}

.login-box {
  text-align: center;
  margin-top: 32px;
  color: var(--Text2, #000);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Log-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.login-btn {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  color: var(--Text, #FAFAFA);
  
  border-style: none;

  /* Title/16PX Medium */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.forgot {
  color: var(--Secondary-2, #DB4444) !important;

  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.navbar>button {
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 899px) {
  #nav-styles {
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-top: 40px;
  }
  .icons {
    display: flex;
    width: 72px;
  }
  .icons>button {
    padding: 0px;
  }
  .signup-box {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  

  .sign-image {
    width: 100%;
    margin: auto;
  }
  
  .search-box {
    display: none;
  }

  .sign-form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
}